{% extends 'base.html' %}
{% block content %}
<main>
<section class="home_analytics_banner_area" style="background-image: linear-gradient(to bottom, transparent, white),url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=5070&q=80); height: 60vh; background-size:100%;display:flex;">
    <div class="container text-white text-center" style="margin-top:2%;"><font style="font-size:300%;">데이터분석</font>
    </div>
</section>
    <section class="elementor" style="height:80vh; display:flex;margin-top:3%;">

        <div class="container text-center" style="height:70vh; width:18%;  margin:auto; ">
            <h1 style="font-size:300%;">Level 1</h1>

            <div class="container text-center" style="border:1px solid black; height:50vh; width:90%; margin:auto;">

            </div>

             {% if user.is_authenticated %}
            <a class="btn text-white" href="{%url 'insight:test'%}" style="margin-top:5%; width:43%; height:6%; font-size:150%; background-color:#080E66;" type="button">go test</a>
            {% endif%}
            {% if not user.is_authenticated %}
            <a class="btn text-white" href="{% url 'common:signin' %} " style="margin-top:5%; width:43%; height:6%; font-size:150%; background-color:#080E66;" type="button"> sigin please</a>
            {% endif%}
        </div>

        <div class="container text-center" style="height:70vh; width:18%; margin:auto;">
            <h1 style="font-size:300%;">Level 2</h1>
        <div class="container text-center" style="border:1px solid black; height:50vh; width:90%; margin:auto;">

        </div>
            <a class="btn text-white" href="#" style="margin-top:5%; width:43%; height:6%; font-size:150%; background-color:#080E66;" type="button">go test</a>
        </div>

        <div class="container text-center" style="height:70vh; width:18%; margin:auto;">
            <h1 style="font-size:300%;">Level 3</h1>
        <div class="container text-center" style="border:1px solid black; height:50vh; width:90%; margin:auto;">

        </div>
            <a class="btn text-white" href="#" style="margin-top:5%; width:43%; height:6%; font-size:150%; background-color:#080E66;" type="button">go test</a>

    </section>
</main>
{% endblock %}