{% extends 'base.html' %}
{% block content %}
<main>
    <section class="container" style="weight:30vh; height:250vh;">
        <center><h1>결과지 페이지</h1></center>
            <div class="container bg-white" style="border-radius: 30px;-moz-box-shadow: 1px 1px 3px 2px #080E66; -webkit-box-shadow: 1px 1px 3px 2px #080E66; box-shadow: 1px 1px 3px 2px #080E66; height:95%; width:80%;">
                <form method="post" action="">
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    1.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = 'user_answer' name = 'answer' value=1>
                        <label class="form-check-label ">print(number[0:6])</label>
                        <input class="form-check-input" type="checkbox"  id = 'user_answer1' name = 'answer'  value=2>
                        <label class="form-check-label ">print(number[1:6])</label>
                        <input class="form-check-input" type="checkbox"  id = 'user_answer2' name = 'answer'  value=3>
                        <label class="form-check-label ">print(number[1:7])</label>
                        <input class="form-check-input" type="checkbox"  id = 'user_answer3' name = 'answer'  value=4>
                        <label class="form-check-label ">print(number[0:7])</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    2.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">시퀀스 객체에 슬라이스로 범위를 지정하여 요소에 값을 할당하면 새 객체가 생성되지 않는다.</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">문자열은 슬라이스를 사용하여 일부를 가져올 수 있다.</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">range 객체는 슬라이스 범위를 지정하여 요소를 할당할 수 없다.</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">튜플은 슬라이스를 사용하여 일부를 가져올 수 없다.</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    3.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">self.name</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">self._name</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">self.__name</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">self.__name__</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    4.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">encoding='kr'</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">encoding='korean'</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">encoding='euc-kr'</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">encoding='euc'</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    5.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">df.info()</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">df.describe()</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">df.isnull()</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">df.show()</label>
                         </div>
                </div>
               <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    6.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">from http import server</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">from http import *</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">from http.server import *</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">from http.server import http</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    7.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">python setup.py install</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">python -m pip install request</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">pip install request</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">pip uninstall request</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    8.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">(0, 10, 70, 80, 90)</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">(20, 30, 40, 50, 60)</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">TypeError</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">(0, 10, 30, 40, 50, 70, 80, 90) </label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    9.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">(38,0,0,0,0)</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">[38,0,0,0,0]</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">TypeError</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">(38)</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    10.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer' value=1>
                        <label class="form-check-label ">(38,0,0,0,0)</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=2>
                        <label class="form-check-label ">[38,0,0,0,0]</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=3>
                        <label class="form-check-label ">TypeError</label>
                        <input class="form-check-input" type="checkbox"  id = '' name = 'answer'  value=4>
                        <label class="form-check-label ">(38)</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <button class="btn text-white" href="{% url 'insight:test' %} " type="submit" style="margin-top:2%; background-color:#080E66; float:right; margin-right:3%;">Next</button>
                </form>
            </div>
    </section>
</main>
{% endblock %}
