{% extends 'base.html' %}
{% block content %}
<main>
    <section class="container" style="weight:30vh; height:250vh;">
        <center><h1>결과지 페이지</h1></center>
            <div class="container bg-white" style="border-radius: 30px;-moz-box-shadow: 1px 1px 3px 2px #080E66; -webkit-box-shadow: 1px 1px 3px 2px #080E66; box-shadow: 1px 1px 3px 2px #080E66; height:95%; width:80%;">
                <form method="post" action="">
                <div class="container" style="margin-right:10%;padding-top:5%;">
                    1.
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id = 'user_answer' name = 'answer' value=1>
                        <label class="form-check-label ">print(number[0:6])</label>
                        <input class="form-check-input" type="checkbox"  id = 'user_answer1' name = 'answer'  value=2>
                        <label class="form-check-label ">print(number[1:6])</label>
                        <input class="form-check-input" type="checkbox"  id = 'user_answer2' name = 'answer'  value=3>
                        <label class="form-check-label ">print(number[1:7])</label>
                        <input class="form-check-input" type="checkbox"  id = 'user_answer3' name = 'answer'  value=4>
                        <label class="form-check-label ">print(number[0:7])</label>
                         </div>
                </div>
                <div class="container" style="height:3%; margin-top:2%;background-color:#E1DFDF;">
                    <h5 style="color:#FA0202;">오답일시 나타나는 정답 공간 정답이면 나타나지 않음
                    </h5>
                </div>
                <button class="btn text-white" href="{% url 'insight:test' %} " type="submit" style="margin-top:2%; background-color:#080E66; float:right; margin-right:3%;">Next</button>
                </form>
            </div>
    </section>
</main>
{% endblock %}
