{% extends 'base.html' %}
{% block content %}
<main>
    <section class="test" style="height:1080px; display:flex; background:#eee">
        <div class="container text-center" style="background:#F5DA81; margin-top:2%; margin-bottom:2%;">
            <label style="font-size:300%;">Test문제</label>
            <div class="container bg-white" style="height:80%; width:75%;">
            <pre style="font-size:150%;  margin-top:5%; margin-left:5%;">
1.주민등록 번호 991216-1023412 를 연월일 부분을 나누어 출력하는 코딩
number = "991216-1023412"
                </pre>
                <div class="do">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="want_field_back"  value="True">
                        <label class="form-check-label ">1.print(number[0:6])</label>
                        </div>
                        <div class="form-check" >
                        <input class="form-check-input" type="radio" name="want_field_back"  value="True">
                        <label class="form-check-label ">1.print(number[0:6])</label>
                        </div>
                        <div class="form-check" >
                        <input class="form-check-input" type="radio" name="want_field_back"  value="True">
                        <label class="form-check-label ">1.print(number[0:6])</label>
                        </div>
                        <div class="form-check" >
                        <input class="form-check-input" type="radio" name="want_field_back"  value="True">
                        <label class="form-check-label ">1.print(number[0:6])</label>
                        </div>
                    </div>

                <a class="btn btn-secondary" href="#" type="button" style="margin-top:2%;">Next --></a>
            </div>
        </div>

</section>
</main>
{% endblock %}