{% extends 'base.html' %}
{% block content %}

<main>
    <section class="bg" >
        <div class="container"style=" height: 100%; padding-bottom:8%; margin-top:4%;">
            <div class="row align-items-center justify-content-between text-center">
                    <span class="text-dark h4">회원가입</span>
            </div>
            <form method="post" action="{% url 'common:signup' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}

                <div class="form-group">
                    <label for="email" class="form-label mt-4" >이메일</label>
                   <input type="email" id="email" name="email" class="form-control" required autofocus />
                </div>
                    <div class="form-group has-success">
                        <label class="form-label mt-4" for="password">비밀번호</label>
                        <input type="password" class="form-control" name="password1" id="password" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="form-group has-danger">
                        <label class="form-label mt-4" for="password2">비밀번호 재확인</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
<!--                        <div class="invalid-feedback">비밀번호가 일치하지 않습니다</div>-->
                    </div>
                <div class="bir_wrap" style="padding-top:2%;">
                    <label class="form-label mt-4" >생년월일</label>
                        <span class="ps_box" style="width:80%; folat:right; margin-left:7%;" >
                            <input type="text" class="form-control" id="age" name="date_of_birth" placeholder="YYYY-MM-DD" maxlength="50" required >
                        </span>
<!--                    <div class="invalid-feedback">8자리로 입력하시오</div>-->
                    </div>
                    <div class="form-group">
                        <label for="sex" class="form-label mt-4">성별</label>
                        <select class="form-select" id="sex" name="sex" >
                            <option value="남자">남자</option>
                            <option value="여자">여자</option>
                        </select>
                    </div>

                <div class="wrap" >
                    <label class="label" >프론트엔드</label>
                    <span class="ps_boxs">
                            <select class="form-select"  id="front_level" name="front_level"  value="{{ form.front_level.value|default_if_none:0}" >
                                <option value=0>무경험</option>
                                <option value=1>1~2년</option>
                                <option value=2>3~5년</option>
                                <option value=3>5년 이상</option>
                            </select>
                    </span>
                    </div>

                <div class="wrap">
                    <label class="label" >백엔드</label>
                    <span class="ps_boxs">
                            <select class="form-select"  id="back_level" name="back_level" value="{{ form.back_level.value|default_if_none:0}}" >
                                <option value=0>무경험</option>
                                <option value=1>1~2년</option>
                                <option value=2>3~5년</option>
                                <option value=3>5년 이상</option>
                            </select>

                        </span>
                </div>
                <div class="wrap" >
                    <label class="label" >데이터분석</label>
                    <span class="ps_boxs">
                            <select class="form-select" id="data_level" name="data_level" value="{{ form.data_level.value|default_if_none:0}}"  >
                                <option value=0>무경험</option>
                                <option value=1>1~2년</option>
                                <option value=2>3~5년</option>
                                <option value=3>5년 이상</option>
                            </select>

                        </span>
                </div>
                <div class="wrap" >
                    <label class="label" >AI</label>
                    <span class="ps_boxs">
                            <select class="form-select" id="AI_level" name="ai_level" value="{{ form.ai_level.value|default_if_none:0}}"  >
                                <option value=0>무경험</option>
                                <option value=1>1~2년</option>
                                <option value=2>3~5년</option>
                                <option value=3>5년 이상</option>
                            </select>

                        </span>
                </div>
                <div class="bir_wrap">
                        <label class="form-label mt-4" >관심 분야</label>
                 </div>
                    <div class="bir_wrap">
                   <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="want_field_front" id="want_field" value="True" >
                        <label class="form-check-label" for="want_field">프론트엔드</label>

                    </div>

                     <div class="form-check" >
                        <input class="form-check-input" type="checkbox" name="want_field_back" id="벡엔드" value="True">
                        <label class="form-check-label" for="벡엔드">백엔드</label>
                    </div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="want_field_data" id="데이터분석" value="True">
                        <label class="form-check-label" for="데이터분석">데이터분석</label>
                    </div>
                        <div class="form-check" >
                        <input class="form-check-input" type="checkbox" name="want_field_ai" id="AI" value="True" >
                        <label class="form-check-label" for="AI">AI</label>
                    </div>
                </div>

                        <div class="d-grid gap-2" style="padding-top: 2%; margin:0 auto; width:43%;">
                    <button class="btn btn-primary btn-lg" type="submit">가입하기</button>

                </div>

            </form>
        </div>
    </section>

</main>
{% endblock %}